# MoSAT Firebase Credentials (Project: mosat-5dc4f)
VITE_FIREBASE_API_KEY=AIzaSyAeXdzV99ibgcq4L0NVvomqs0111wvplC0
VITE_FIREBASE_AUTH_DOMAIN=mosat-5dc4f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mosat-5dc4f
VITE_FIREBASE_STORAGE_BUCKET=mosat-5dc4f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=759900234492
VITE_FIREBASE_APP_ID=1:759900234492:web:23ec80cc5fc3d84f072d79
VITE_FIREBASE_MEASUREMENT_ID=G-XXLYKX52DF
